{% extends 'blog/base.html' %} 
{% load staticfiles %}

<!-- About page html, displays posts that are type 'about' -->
<!-- I combined about page posts with the same post object as regular blog post. I originally created a seperate model class for about post, but felt I could have combined the two. They can be seperated out later -->


{% block content %}


	<!-- Loops through all the 'about post' and puts on their own row  -->
	{% for post in about_posts %}

		<div class="row">
		<div class="col-md-8">
			<h3>{{post.title}}</h3>
			<p>{{post.text|linebreaks}}</p>
		

		</div>

		<div class="col-md-4">

			<!-- Sets the associated image next to the text in a seperate column-->
			<!-- this img src originally displayed a static link to a profile image-->
			<img src="{{ post.image_url|default_if_none:'' }}"  style = "width:100%; hight:100%;"/>

		</div>
	

		</div>


	{% endfor %}




{% endblock %}


{% block highlight %}

	{% for highlight in highlights %}
	<div class="container-fluid">

		<p>• {{highlight.header}}</br>
		<a href="{{ highlight.link }}"> {{highlight.link}}</a></p>

	</div>	

	{% endfor %}

{%endblock%}