<!-- Base HTML Template for the blog project  --> 
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"> 
		<!-- Placeholder Title  -->
		<title>Personal Blog Template</title>
    
		<!-- Add CSS style sheets or Bootstrap links here--> 

		<!--included bootstrap CDN -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!--included my own css style sheet-->
		 <link rel="stylesheet" href="{% static 'css/style.css' %}">





	</head>
	<body>
		<!-- Page header -->
		<div class="page-header">
			<!-- Placeholder Title  -->
			<h1><a href="\"> Personal Blog Template </a></h1>

		
		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    		<ul class="nav navbar-nav">
      			<li ><a href="/">Home</a></li>
      			<li><a href="{% url 'projects_page' %}">Projects</a></li>
      			<li><a href="{% url 'resume_page' %}">Resume</a></li>
      			<!-- in Django, we dont need to explicity say what the link is, we can use our url.py to set the link-->
      			<!-- 'about_page' is the same name we use within our urls.py-->
      			<li><a href="{% url 'about_page' %}">About</a></li>
        </ul>
        <ul class="navbar-nav-right">
      			<li>  
      				<!-- Search Bar -->
      				<!-- goes to /search url-->
      				<form class="navbar-form navbar-left" id="searchform" action="{% url 'search_page' %}"method="get" accept-charset="utf-8">
    				  <div class="form-group">
    					<!-- specifies the form input and that the parameter it will be -->
        				<input type="text" class="form-control" name ="q" placeholder="Search Blog Posts">
    				  </div>
   					  <button type="submit" class="btn btn-default">
       					  <span class="glyphicon glyphicon-search"></span>
    				  </button>
					   </form>

      			</li>
    		</ul>
  			</div>
		</nav>		

		</div>

		<div class="content container">
			<!-- Content is divided into seperate rows within the container -->
			 <div class="row">
			 	<!-- Row has one column that takes 8/12 spaces -->
            	<div class="col-md-8">
            		<!-- block content, this is where other html blocks will be inserted  -->
            		{% block content %}
            		{% endblock %}
              </div>
              <!--highlight box -->
              <div class="col-md-3" style="padding-left: 80px;" >
                <div class="highlight-box">
                  <h3>Highlights</h3>
                  <p>Add highlights, links and other things here!</br></br>
                    <a href="https://github.com/john-f2/django-personal-blog"> https://github.com/john-f2/django-personal-blog</a>

                  </p>

                  
                </div>
              </div>
        </div>


		</div>


	</body>




</html>
